
.DS_Store
ClevisProjectGroup1/.idea/runConfigurations.xml
ClevisProjectGroup1/.idea/runConfigurations.xml
*.mp3
*.wav
*.plist
*.SDIR
*.jpg
OOP_Project_Au.band/projectData
OOP_Project_Au.band/Alternatives/000/ProjectData
OOP_Project_Au.band/Alternatives/000/DisplayStateArchive
